:root{
    --white: #FFFAFA;
    --black: #121214;
    --red:  #FF0000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url("../imgs/pattern-home.png");
    background-size: 5rem;
    background-repeat: repeat;
    background-position: right top;

    line-height: 1.5;
}

p, ol, ul, li{
    font-family: 'Averia_Serif_Libre_Regular', sans-serif;
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
    padding: 1rem;
    border: 0.1rem solid var(--black);
    border-radius: 1rem;
    transition: all 200ms ease;
    box-shadow: 0 0.3rem 0 0 var(--black);

    position: relative;
    top: 0;

}

a:hover, a:focus, a:active{
    top: 0.3rem;
    box-shadow: 0 0 0 0 transparent;
}


.non-button{
    color: var(--black);
    background-color: transparent;
    padding: 0;
    border: 0.1rem solid transparent;
    box-shadow: 0 0 0 0 transparent;
}

h1{
    font-family: 'Averia_Serif_Libre_Bold', sans-serif;
    font-size: 6.5rem;
    letter-spacing: -0.9rem;
}

h2{
    font-family: 'Averia_Serif_Libre_Bold', sans-serif;
    font-size: 4rem;
}

h3{
    font-family: 'Averia_Serif_Libre_Bold', sans-serif;
    font-size: 2.5rem;
}

h4{
    font-family: 'Averia_Serif_Libre_Bold', sans-serif;
    font-size: 2rem;
}

.yarndings12{
    font-family: 'Yarndings_12', sans-serif;
    font-weight: 300;
}

/*---------------------------------------------------------------*/

.loader-wrapper{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.loader{
    display: inline-block;
    width: 5rem;
    height: 5rem;
    position: relative;
}

.loader-inner{
    display: inline-block;
    width: 100%;
}


/* Nav bar reference in HTML, css and js is from this video:
https://www.youtube.com/watch?v=m7YDWNz65iI */

.skip-link{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
    background-color: var(--red);
    color: var(--white);
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: all 150ms ease;
}

.skip-link:focus {
    opacity: 1;
    pointer-events: auto;
    text-decoration: underline;
}


#open-sidebar-button{
    position: fixed;
    display: block;
    background-color: transparent;
    border: none;
    padding: 1rem;
    top: 0;
    right: 0;
    
    
    z-index: 1000;
    transition: all 150ms ease;
}

#close-sidebar-button{
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 1rem;
    margin-left: auto;
    top: 0;
    transition: all 150ms ease;
}

#close-sidebar-button:hover, #close-sidebar-button:focus, #close-sidebar-button:active,
#open-sidebar-button:hover, #open-sidebar-button:focus, #open-sidebar-button:active{
    top: 0.3rem;
}

#overlay{
    background: rgb(0,0,0,0.5);
    position: fixed;
    inset:0;
    z-index: 999;
    display:none;
}


nav{
    background-color: var(--white);
    position:fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(13rem, 100%);
    z-index: 1000;
    border-left: 0.1rem solid var(--black);
    border-bottom: none;

    
    transition: all 150ms ease-out;
}

nav.show{
    right: 0;
}

nav.show ~ #overlay{
    display: block;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 2rem;
}

nav li{
    align-self: start;
}
nav .nav-item{
    align-self: start;
}

nav a{
    width: 100%;
    padding-left: 2rem;

    display: flex;
    text-decoration: none;
    color: var(--black);
    background-color: transparent;
    padding: 1rem 1.5rem;
    transition: all 150ms ease;
    border: 0.1rem solid transparent;
    box-shadow: 0 0 0 0 transparent;
}

nav li{
    margin: 0 1rem 0 0;
}

nav a:hover, nav a:focus, nav a:active{
    color: var(--red);
    fill: var(--red);
}

nav a.active-link{
    border-bottom: none;
}

nav .title-li{
    align-self: start;
    font-weight: bold;
}

nav .home-li{  
    margin-right: auto;
    font-size: 2.5rem;

    margin-right: unset;
}

nav .extra-li{
    margin-top: 2rem;
    border-top: 0.1rem solid var(--black);
}

    
#main-content{
    padding: 1.5rem;
    min-height: calc(100vh - 6.5rem);
    margin-left: unset;
}


  /* --------------------------------------------------------------------------                                               
 | |                                                  
 | |__   ___  _ __ ___   ___   _ __   __ _  __ _  ___ 
 | '_ \ / _ \| '_ ` _ \ / _ \ | '_ \ / _` |/ _` |/ _ \
 | | | | (_) | | | | | |  __/ | |_) | (_| | (_| |  __/
 |_| |_|\___/|_| |_| |_|\___| | .__/ \__,_|\__, |\___|
                              | |           __/ |     
                              |_|          |___/      
----------------------------------------------------------------------------- */

/* HERO SECTION */


.note{
    position:absolute;
    display:none;
}

#hero-home{
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 5rem;

    margin-bottom: 10rem;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    max-width: 85%;
}

.hero-content svg{
    fill: var(--black);
}

.hero-text{
    max-width: 20rem;
}

.hero-text h1{
    font-size: 8.5rem;
    margin: -1.2rem 0;
}

.hero-text h2{
    margin-bottom: 1rem;
}

/* CONTENT CARDS / PROJECT SECTION */

#jazzdor, #civic{
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 5rem;

    margin-bottom: 10rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    max-width: 100%;
}

.project-card-media {
    position: relative;
    border: 0.1rem solid transparent;
    box-shadow: transparent 0 0 0 0;

    padding: 0;
    top: 0;
    cursor:pointer;

    filter: grayscale(100%);

}

.project-card-media:hover, .project-card-media:focus, .project-card-media:active{
    filter: grayscale(0%);
}

.project-card-media:hover img{
    scale: 1.05;
}



.project-card-media img{
    scale: 1;
    transition: all 200ms ease;
}

.project-card-media video{
    object-fit: cover;
    height: 65vh;
    width: 100%;

    border-radius: 1rem;
    z-index: 1;
}

.project-card-media-mockup{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100%;
    max-height: 60vh;
    z-index: 2;
    bottom: 2rem;


}


#civic .project-card-media-mockup{
    bottom: 2.5rem;
}

#civic .project-card-media-mockup picture {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#civic .project-card-media img {
    width: 52%;
}

.project-card-media img {

    width: 73%;
    object-fit: contain;
}

.project-card-media-tags{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    top: 1.5rem;
    left: 1.5rem;

    height: 60vh;
    z-index: 3;

    position: absolute;
    width: 85%;
}

.project-card-media-tags p{
    background-color: var(--white);
    padding: 0.8rem;
    border-radius: 2rem;
    width: fit-content;

    font-size: 1rem;
}

.project-card-text{
    display: flex;
    flex-direction: column;
    width: 90%;

    gap: 1rem;
}

.project-card-text h3{
    letter-spacing: -0.5rem;
    font-size: 3rem;
}


/* CONTACT SECTION */

#contact{
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-margin-top: 5rem;

    margin-bottom: 10rem;
}

#contact h2{
    line-height: 1;
    margin-bottom: 1rem;
    font-size: 3.5rem;
}

#contact h3{
    font-size: 4rem;
}

.contact-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    width: 100%;

    margin-top: 2rem;
}

.contact-buttons-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 80vw;
    font-size: 1rem;

    object-fit: contain;
}


.scroll-up{
    text-decoration: underline;
    padding: 1rem;
    margin-top: 5rem;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.scroll-up:hover, .scroll-up:focus{
    color: var(--red);
}

.scroll-up:hover svg path{
    fill: var(--red);
}



/*----------------------------------------------------
       _                  _            
      | |                | |           
      | | __ _ __________| | ___  _ __ 
  _   | |/ _` |_  /_  / _` |/ _ \| '__|
 | |__| | (_| |/ / / / (_| | (_) | |   
  \____/ \__,_/___/___\__,_|\___/|_|   
 ------------------------------------------------  */


#jazzdor-summary, #jazzdor-process, #jazzdor-final-project, #jazzdor-reflection{
    max-width: 100vw;
    scroll-margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;

    align-items: center;
    justify-content: center;
}

#jazzdor-summary img, #jazzdor-process img, #jazzdor-final-project img, #jazzdor-reflection img,
#jazzdor-summary video, #jazzdor-process video, #jazzdor-final-project video, #jazzdor-reflection video{
    object-fit: cover;
    border: 0.1rem solid var(--black);
    border-radius: 1rem;

    box-shadow: 0 0.3rem 0 0 var(--black);
}


/* HERO */

#jazzdor-hero{
    display: flex;
    flex-direction: column;
    position:relative;

    height: 80vh;
    margin-bottom: 5rem;
}

#jazzdor-hero video{
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: cover;

    z-index: 0;
}

#jazzdor-hero .hero-media{
    align-items: center;
    justify-content: center;
    width:100%;
}

#jazzdor-hero .hero-media::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    content: '';
    background: linear-gradient(180deg, rgba(255, 250, 250, 0) 0%, rgba(255, 250, 250, 1) 100%);
}

#jazzdor-hero .hero-mockup{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100%;
    max-height: 60vh;
    z-index: 2;
    bottom: 10vh;
}

#jazzdor-hero .hero-mockup img{
    position: relative;
    z-index: 2;
    max-width: 75vw;
    justify-self: center;
}

#jazzdor-hero .hero-content{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    max-width: 100%;
    gap: 0rem;
    bottom: -60vh;
    padding: 2rem;

    z-index: 10;

}

#jazzdor-hero .hero-content h1{
    font-size: 4.5rem;
    letter-spacing: -0.6rem;
    z-index: 5;
}

#jazzdor-hero .hero-button{
    display: flex;
    gap: 1rem;
    width: fit-content;
    padding: 1rem 1.5rem;
}

#jazzdor-hero .border{
    position:relative;
    top: 60vh;
    max-width:100vw;
    object-fit: cover;
    height: 2rem;
    z-index: 10;
}

/* SUMMARY */
#jazzdor-summary h2{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.summary-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin: 2rem 0;
}

.summary-item{
    max-width: 100%;
}
.summary-item h3{
    font-size: 1.5rem;
    font-weight: bold;
}

#jazzdor-summary img{
    width:100%;
    margin-bottom: 2rem;
}

/* PROCESS */

#jazzdor-process img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
}

#jazzdor-process h3{
    margin-bottom: 3rem;
}

#jazzdor-process .cd-media-row{
    margin-bottom: 2rem;
}

#jazzdor-process .cd-media-row img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
}


/* FINAL PROJECT */

#jazzdor-final-project img{
    width: 100%;
    margin-bottom: 2rem;
}

#jazzdor-final-project video{
    height: 40vh;
    width: 100%;
    margin-bottom: 2rem;
}
/* REFLECTION */

#jazzdor-reflection img{
    width: 100%;
    margin-bottom: 2rem;
}

#jazzdor-reflection video{
    height: 40vh;
    width: 100%;
    margin-bottom: 2rem;
}

#jazzdor-reflection h3, h4{
    margin-bottom: 2rem;
}

/* ------------------------------------------------------
   _____   _______      _______   _____ 
  / ____| |_   _\ \    / /_   _| / ____|
 | |        | |  \ \  / /  | |  | |     
 | |        | |   \ \/ /   | |  | |     
 | |____ _ _| |_ _ \  /   _| |_ | |____ 
  \_____(_)_____(_) \(_) |_____(_)_____|
 ---------------------------------------------------------  */
                                        
#civic-summary, #civic-process, #civic-final-project, #civic-reflection{
    max-width: 100vw;
    scroll-margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;

    align-items: center;
    justify-content: center;
}

#civic-summary img, #civic-process img, #civic-final-project img, #civic-reflection img,
#civic-summary video, #civic-process video, #civic-final-project video, #civic-reflection video{
    object-fit: cover;
    border: 0.1rem solid var(--black);
    border-radius: 1rem;

    box-shadow: 0 0.3rem 0 0 var(--black);
}


/* HERO */

#civic-hero{
    display: flex;
    flex-direction: column;
    position:relative;

    height: 80vh;
    margin-bottom: 5rem;
}

#civic-hero video{
    position: absolute;
    width: 100%;
    height:100%;
    object-fit: cover;

    z-index: 0;
}

#civic-hero .hero-media{
    align-items: center;
    justify-content: center;
    width:100%;
}

#civic-hero .hero-media::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    content: '';
    background: linear-gradient(180deg, rgba(255, 250, 250, 0) 0%, rgba(255, 250, 250, 1) 100%);
}

#civic-hero .hero-mockup{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    width: 100%;
    max-height: 60vh;
    z-index: 2;
    bottom: 10vh;
}

#civic-hero .hero-mockup img{
    position: relative;
    z-index: 2;
    max-width: 75vw;
    justify-self: center;
}

#civic-hero .hero-content{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    max-width: 100%;
    gap: 0rem;
    bottom: -60vh;
    padding: 2rem;

    z-index: 10;

}

#civic-hero .hero-content h1{
    font-size: 4.5rem;
    letter-spacing: -0.6rem;
    z-index: 5;
}

#civic-hero .hero-button{
    display: flex;
    gap: 1rem;
    width: fit-content;
    padding: 1rem 1.5rem;
}

#civic-hero .border{
    position:relative;
    top: 60vh;
    max-width:100vw;
    object-fit: cover;
    height: 2rem;
    z-index: 10;
}

/* SUMMARY */
#civic-summary h2{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.summary-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin: 2rem 0;
}

.summary-item{
    max-width: 100%;
}
.summary-item h3{
    font-size: 1.5rem;
    font-weight: bold;
}

#civic-summary img{
    width:100%;
    margin-bottom: 2rem;
}

/* PROCESS */

#civic-process img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
}

#civic-process h3{
    margin-bottom: 3rem;
}

#civic-process .cd-media-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}


#civic-process .cd-media-row img{
    width: 100%;
    object-fit: cover;
}

#civic-process .dark-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
    background-color: var(--black);
    color: var(--white);
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}


/* FINAL PROJECT */

#civic-final-project .side-by-side{
    width: 98%;
    flex-direction: row;
}

#civic-final-project .side-by-side img{
    object-fit: cover;
    margin-bottom: 2rem;
}

#civic-final-project video{
    height: 40vh;
    width: 100%;
    margin-bottom: 2rem;
}

#civic-final-project iframe{
    height: 40vh;
    width: 100%;
    margin-bottom: 2rem;

    object-fit: cover;
    border: 0.1rem solid var(--black);
    border-radius: 1rem;

    box-shadow: 0 0.3rem 0 0 var(--black);
}

/* REFLECTION */

#civic-reflection .quote-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
    border: 0.1rem solid var(--black);
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0 0 var(--black);
    margin-bottom: 2rem;
}

#civic-reflection .quote-box blockquote{
    border-left: 0.3rem solid var(--black);
    padding: 1rem;

}

#civic-reflection img{
    width: 100%;
    margin-bottom: 2rem;
}

#civic-reflection video{
    height: 40vh;
    width: 100%;
    margin-bottom: 2rem;
}


#civic-reflection h3, h4{
    margin-bottom: rem;
}


/* GENERAL */


.project-text-med{
    max-width: 40rem;
    margin-bottom: 2rem;
}


.project-text-small{
    max-width: 35rem;
    margin-bottom: 2rem;
}

.italic{
    font-style: italic;
    margin-bottom: 2rem;
}

.side-by-side{
    display: flex;
    flex-direction: column;
}

#other{
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 5rem;
    margin-bottom: 10rem;
}

#other .project-card{
    margin-top: 2rem;
}


#other .project-card-media-mockup{
    bottom: 2.5rem;
}

#other .project-card-media-mockup picture {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#other .project-card-media img {
    border: 0 transparent;

    box-shadow: 0 0 0 0 transparent;
    width: 52%;
}

#other .project-card-media video {
    height: 60vh;
}

/* 

    _   _              _   
   /_\ | |__  ___ _  _| |_ 
  / _ \| '_ \/ _ \ || |  _|
 /_/ \_\_.__/\___/\_,_|\__|
                            */

/* HERO */

#about-hero, #about-background, #about-thesis{
    max-width: 100vw;
    scroll-margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;

    align-items: center;
    justify-content: center;
}

#about-hero{
    border-bottom: 0.1rem solid var(--black);
    padding: 2rem 0;
}

#about-hero img{
    max-height: 50vh;
    object-fit: cover;
    border: 0.1rem solid var(--black);
    border-radius: 1rem;

    box-shadow: 0 0.3rem 0 0 var(--black);
    filter:grayscale(100);
    transition: all 0.1s ease;
}

#about-hero img:hover{
    filter:grayscale(0);
}


.about-hero-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
    padding: 2rem 0;

    max-width: 100%;
}


.about-hero-content h1{
    font-size: 8.5rem;
    margin: -1.2rem 0;
    line-height: 1.1;
}

/* BACKGROUND */
#about-background h3{
    margin-bottom: 1rem;
}

#about-background h4{
    margin-bottom: 0;
}

#about-background .side-by-side{
    margin-bottom: 2rem;
    gap: 2rem;
}


/* THESIS */

.about-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-top: 0.1rem solid var(--black);
    padding: 2rem 0;
}




/*----------------------------------------------------------------*/

footer{
    background-color: var(--black);
    color: var(--white);
    max-width: 100vw;
    bottom: 0;
    padding: 2rem;

    border-radius: 1rem 1rem 0 0;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}


.footer-text{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 2rem;

    max-width: 80vw;
}

.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    margin-top: 3rem;
}

.footer-links img{
    width: 110%;
    height: auto;
}


#dog {
    width: fit-content;
    height: fit-content;
    cursor: grab;
    z-index: 1002; /* Make sure it's above other content */
}
#dog img {
    width: 20vw;
    height: auto;
    display: block;
    pointer-events: auto;
    cursor: grab;
    user-select: none;
}



/* NAV BAR MEDIA QUERY */

@media screen and (min-width: 64rem){
    nav{
        position: fixed;
        top: 0;
        height: 100vh;
        left: 0;
        width: min(20rem, 100%);
        z-index: 1000;
        transition: all 150ms ease-out;

        mix-blend-mode: difference;

        background-color: transparent;
    }

    nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 2rem;
    }

    nav li{
        gap: 1rem;
    }

    nav a{
        display: flex;
        text-decoration: none;
        color: var(--white);
        padding: 1rem 1.5rem;
        background-color: transparent;

        transition: all 150ms ease;
    }

    nav a:hover, nav a:focus, nav a:active{
        color: #00FFFF;
        fill: #00FFFF;
    }


    nav .title-li{
        color: var(--white);
    }

    nav .home-li a{
        margin-right: auto;
        margin-left: 0;
        font-size: 5rem;

        padding: 2rem 0;
    }

    nav .extra-li{
        border-top: 0.1rem solid var(--white);
    }


    nav a.active-link{
        border-bottom: 0.2rem solid var(--black);
    }


    #open-sidebar-button, #close-sidebar-button{
        display: none;
    }

    #main-content{
        margin-left: 15rem;
    }
}


/*---------------------------------------------------------------*/
